body {
    background-color: #eff1f3;
    margin: 0;
    padding: 0;
}

.mainContent {
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
    padding-top: 40px;
}

.navigation {
    background: #223843;
    position: fixed;
    width: 100%;
}

.navigation__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation__menu--link {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    float: right;
}

.navigation__menu--link:hover {
    background: #D8B4A0;
}

.mainLogo {
    position: absolute;
    width: 256px;
    top: -11px;
    left: -20px;
    margin: 0;
    padding: 0;
}

.mainHeader {
    border-bottom: 5px solid #223843;
    border-radius: 5%;
    height: 160px;
    padding-bottom: 20px;
}

.mainHeader__title {
    color: #223843;
    font-size: 42px;
    padding-top: 30px;
}

.mainHeader__subtitle {
    color: #223843;
    font-size: 21px;
}

.about {
    margin-top: 30px;
    margin-bottom: 60px;
}

.about__title {
    color: #223843;
    text-align: center;
}

.about__paragraph {
    padding-left: 10px;
}

.week__container {
    padding: 1px 0 0 0;
}

.weeks {
    margin: 60px 0;
    padding: 20px 100px;
    background: #DBD3D8;
}

.weeks__title {
    font-size: 28px;
    margin-top: 10px;
    color: #223843;
    text-align: center;
}

.weeks__article {
    text-decoration: none;
    color: #223843;
    padding-left: 10px;
    border-top: 1px solid;
}

.weeks__article:hover {
    background: #D8B4A0;
}

.weeks__article--title {
    color: #223843;
    padding-top: 10px;
    margin: 0;
}

.weeks__article--paragraph {
    padding-left: 10px;
}

.mainFooter {
    background: #223843;
    padding: 5px 0;
}

.mainFooter__paragraph {
    color: #fff;
    text-align: center;
}