body {
    background-color: #eff1f3;
    margin: 0;
    padding: 0;
}

.mainContent {
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
    padding-top: 40px;
}

.navigation {
    background: #223843;
    position: fixed;
    width: 100%;
}

.navigation__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation__menu--link {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    float: right;
}

.navigation__menu--link:hover {
    background: #D8B4A0;
}

.mainLogo {
    position: absolute;
    width: 256px;
    top: -11px;
    left: -20px;
    margin: 0;
    padding: 0;
}

.mainHeader {
    border-bottom: 5px solid #223843;
    border-radius: 5%;
    height: 160px;
    padding-bottom: 20px;
}

.mainHeader__title {
    color: #223843;
    font-size: 42px;
    padding-top: 30px;
}

.mainHeader__subtitle {
    color: #223843;
    font-size: 21px;
}

.about {
    margin-top: 30px;
    margin-bottom: 60px;
}

.about__title {
    color: #223843;
    text-align: center;
}

.about__paragraph {
    padding-left: 10px;
}

.buttons-container {
    width: 100%;
    overflow: auto;
    margin: 100px 0 200px 0;
}

.buttons-container__link {
    float: left;
    width: 50%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 36px;
    padding: 80px 0;
    transition: all 0.3s ease;
}

.buttons-container__html, .buttons-container__js, .buttons-container__devtools {
    border-right: 5px solid #fff;
    border-bottom: 10px solid #fff;
    box-sizing: border-box;
}

.buttons-container__css, .buttons-container__frontend, .buttons-container__others {
    border-left: 5px solid #fff;
    box-sizing: border-box;
    border-bottom: 10px solid #fff;
    box-sizing: border-box;
}

.buttons-container__dark {
    background: #223843;
}

.buttons-container__light {
    background: #D8B4A0;
}

.buttons-container__link:hover {
    background: #000;
}

.mainFooter {
    background: #223843;
    padding: 5px 0;
}

.mainFooter__paragraph {
    color: #fff;
    text-align: center;
}