body{
    background-color: #fefefe;
}

h1{
    color: #054A29;
}

.secondHeader{
    color: #137547;
}

.thirdHeader{
    color: #2A9134;
}

.link{
    color: rgb(0, 255, 0);
}

.mainFooter{
    color: #054A29;;
}